*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

#conteiner{
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 4fr, 10em;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

#header{
  grid-area: header;
  background-color: rgb(15,15,15);
  color: rgb(255,255,255);
  max-width: 100%;
}

#titulo{
  text-align: center;
  padding: 0.9em;
  font-size: 1.5em;
}

#menu{
  background-color: rgb(128,128,128);
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0.3em;
}

li > a{
  color: rgb(255,255,255);
  padding: 0.2em;
  margin: 0.2em;
  font-size: 1.1em;
}

.lista{
  list-style: none;
  display: inline;
  margin: 0.3em;
  color: rgb(255,255,255);
  display: inline-block;
  border-right: 0.2em solid rgb(255,255,255);
}

.link{
  text-decoration: none;
}

#main{
  grid-area: main;
}

#artigo{
  margin-top: 5em;
  padding: 1.8em;
}

.p1{
  padding: 0.5em;
}

.opcao{
  font-weight: bold;
}

#footer{
  grid-area: footer;
  background-color: rgb(128,128,128);
  height: 8em;
  margin-bottom: 0;
  padding-bottom: 1.8em;
  max-height: 100%;
}

a > span{
  background-color: rgb(255,255,255);
  border-radius: 50%;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 1.5em;
  color: rgb(15,15,15);
}

#direitos{
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0.5em;
}

#rede{
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0.8em;
  max-height: 100%;
}